---
- name: Fail if required variables are not defined
  assert:
    that: ("{{ item }} is defined") and ("{{ item }} | length > 0")
  loop:
    - nginx_controller_fqdn
    - nginx_controller_auth_token
    - nginx_controller_environment
    - nginx_controller_application
    - nginx_controller_publish_api.metadata.name
    - nginx_controller_publish_api.desiredState.apiDefinitionVersionRef.ref
    - nginx_controller_publish_api.desiredState.gatewayRefs[0]

- name: Form the publish_api API url
  set_fact:
    publish_api_url: "https://{{ nginx_controller_fqdn }}/{{ nginx_controller_api_version }}/services/environments/{{ nginx_controller_environmentName }}/apps/{{ nginx_controller_appName }}/published-apis/{{ nginx_controller_publish_api.metadata.name }}"

- name: Upsert publish_api (create if absent, change if present)
  uri:
    url: "{{ publish_api_url }}"
    method: "PUT"
    body: "{{ nginx_controller_publish_api }}"
    body_format: json
    status_code:
      - 200
      - 201
      - 202
    return_content: yes
    validate_certs: "{{ nginx_controller_validate_certs | default(false) }}"
    headers:
      Cookie: "{{ nginx_controller_auth_token }}"
  register: nginx_controller_publish_api_status

# - name: Show publish_api status
#   debug:
#     msg: "{{ nginx_controller_publish_api_status }}"

- name: Pause while system initiates changes
  pause:
    seconds: "2"

- name: Confirm API is published and not errored
  uri:
    url: "{{ publish_api_url }}"
    method: "GET"
    status_code:
      - 200
      - 201
      - 202
    return_content: yes
    validate_certs: "{{ nginx_controller_validate_certs | default(false) }}"
    headers:
      Cookie: "{{ nginx_controller_auth_token }}"
  register: nginx_controller_publish_current_status
  until: (nginx_controller_publish_current_status is defined) and
         (not nginx_controller_publish_current_status.json.currentStatus.state.selfConfigState.isConfiguring | bool)
  retries: 50
  delay: 2
  failed_when: nginx_controller_publish_current_status.json.currentStatus.state.selfConfigState.isError | bool
  ignore_errors: true

 # above simply errors but does not include the informative failure messages from Controller 
- name: report failure details from Controller
  fail:
    msg: "{{ nginx_controller_publish_current_status.json.currentStatus.state.conditions }}"
  when: nginx_controller_publish_current_status.json.currentStatus.state.selfConfigState.isError | bool
